RewriteEngine On
RewriteBase /

# Almanca bağlantılar için yönlendirmeler
RewriteRule ^de$ index-de.html [L]
RewriteRule ^de/portfolio$ portfolio-de.html [L]
RewriteRule ^de/kommunikation$ iletisim-de.html [L]

# İngilizce bağlantılar için yönlendirmeler
RewriteRule ^en$ index-en.html [L]
RewriteRule ^en/portfolio$ portfolio-en.html [L]
RewriteRule ^en/contact$ iletisim-en.html [L]

# Türkçe bağlantılar için yönlendirmeler (isteğe bağlı, eklemek isterseniz)
RewriteRule ^tr$ index.html [L]
RewriteRule ^tr/portfolio$ portfolio.html [L]
RewriteRule ^tr/iletisim$ iletisim.html [L]
